<div class="media-player" ng-class="{'open' : ctrl.isPlaying}">
    <div class="panels">
        <div class="left">
            <button class="button play" ng-click="ctrl.play()">
                <i class="fa fa-play" aria-hidden="true"></i>
            </button>
            <span class="song-number">1</span>
        </div>
        <div class="content">
            <span class="content-text">Title</span>
        </div>
        <div class="right">
            <span class="content-text">{{ctrl.totalTime.minutes}}:{{ctrl.totalTime.seconds}}</span>
        </div>
    </div>
    <div class="panels">
        <div class="left">
            <button class="button stop" ng-click="ctrl.pause()">
                <i class="fa fa-stop" aria-hidden="true"></i>
            </button>
        </div>
        <div class="content">
            <span class="track-control-panel track control-panel">
                <span class="track-control control"></span>
            </span>
        </div>
        <div class="right">
            <span class="drop-vol-panel">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
                <span class="volume-control-panel-wrap">
                    <span class="volume-control-panel volume control-panel">
                        <span class="volume-control control"></span>
                    </span>
                </span>
            </span>
        </div>
    </div>

    <audio ng-src="{{ctrl.src}}" class="player"></audio>
</div>
