body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}