body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-position: center;
  background-size: cover;
}

.overflow {
  overflow: hidden;
  height: 100vh;

  .loader-wrapper {
    visibility: visible;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}