<div class="content">
    <div class="song songColorWrap">
        <div class="left-col">
            <img ng-src="{{ctrl.albumData.largePreviewImgUrl}}">
            <a class="buy-btn" ng-href="{{ctrl.albumData.trackViewUrl}}" target="_blank">{{ctrl.albumData.collectionPrice}} {{ctrl.albumData.currency}}</a>
            <p>
                <strong>Style:</strong> {{ctrl.albumData.primaryGenreName}}<br>
                <strong>Release Date:</strong> {{ctrl.albumData.releaseDate}}<br>
                <strong>Country:</strong> {{ctrl.albumData.country}}<br>
            </p>
        </div>
        <div class="song-content">
            <h2 class="content-title">{{ctrl.albumData.collectionName}}</h2>
            <h3 class="content-subtitle"><span ng-click="ctrl.findAuthor(ctrl.albumData.artistName)">{{ctrl.albumData.artistName}}</span></h3>
            <div ng-repeat="item in ctrl.AlbumTracks" ng-show="item.previewUrl">
                <media-player src="{{item.previewSceUrl}}" track-title="{{item.trackName}}" track-number="{{item.trackNumber}}"></media-player>
            </div>
        </div>
    </div>
</div>