<div class="content">
    <div class="song songColorWrap">
        <div class="left-col">
            <img ng-src="{{ctrl.albumData.largePreviewImgUrl}}">
            <a class="buy-btn" ng-href="{{ctrl.albumData.collectionViewUrl}}" target="_blank">
                <span ng-show="ctrl.albumData.collectionPrice">
                    {{ctrl.albumData.collectionPrice}} {{ctrl.albumData.currency}}
                </span>
                <span ng-show="ctrl.albumData.preorder"> Pre-Order</span>
            </a>
            <p>
                <strong>Style:</strong> {{ctrl.albumData.primaryGenreName}}<br>
                <strong>Release Date:</strong> {{ctrl.albumData.releaseDate}}<br>
                <strong>Country:</strong> {{ctrl.albumData.country}}<br>
            </p>
        </div>
        <div class="song-content">
            <h2 class="content-title">{{ctrl.albumData.collectionName}}</h2>
            <h3 class="content-subtitle"><span ng-click="ctrl.findAuthor(ctrl.albumData.artistName)">{{ctrl.albumData.artistName}}</span></h3>
            <track-list track-list="{{ctrl.AlbumTracks}}"></track-list>
        </div>
    </div>
</div>