<div class="content">
    <h1>Books</h1>
    <h2>
        Top Free Books
    </h2>
    <div class="previews">
        <div class="item" ng-repeat="item in ctrl.topFreeBooks">
            <img ng-src="{{item['im:image'][2].label}}">
            <div class="content">
                <p class="name">{{item['im:name'].label}}</p>
                <p class="previews-description">{{item.summary.label}}</p>
            </div>
        </div>
    </div>

    <h2>
        Top Paid Books
    </h2>
    <div class="previews">
        <div class="item" ng-repeat="item in ctrl.topPaidBooks">
            <img ng-src="{{item['im:image'][2].label}}">
            <div class="content">
                <p class="name">{{item['im:name'].label}}</p>
                <p class="previews-description">{{item.summary.label}}</p>
            </div>
        </div>
    </div>
</div>