<div class="content">
    <h1>Main Page</h1>
    <h2>
        Top Songs
    </h2>
    <div class="music-previews">
        <div class="item" ng-repeat="item in ctrl.topSongs" ng-click="ctrl.goToSongView(item.id.attributes['im:id'])">
            <div class="title">
                <span class="artist">{{item['im:artist'].label}}</span>
                <span class="name">{{item['im:name'].label}}</span>
            </div>
            <img ng-src="{{item['im:image'][2].label}}">
        </div>
    </div>

    <h2>
        Top Moves
    </h2>
    <div class="previews">
        <div class="item" ng-repeat="item in ctrl.topMoves" ng-click="ctrl.goToMoveView(item.id.attributes['im:id'])">
            <img ng-src="{{item['im:image'][2].label}}">
            <div class="content">
                <p class="name">{{item['im:name'].label}}</p>
                <p class="previews-description" ng-bind-html="item.summary.label"></p>
            </div>
        </div>
    </div>

    <h2>
        Top Books
    </h2>
    <div class="previews">
        <div class="item" ng-repeat="item in ctrl.topBooks" ng-click="ctrl.goToBookView(item.id.attributes['im:id'])">
            <img ng-src="{{item['im:image'][2].label}}">
            <div class="content">
                <p class="name">{{item['im:name'].label}}</p>
                <p class="artist">{{item['im:artist'].label}}</p>
                <p class="previews-description" ng-bind-html="item.summary.label"></p>
            </div>
        </div>
    </div>
</div>