<div class="content">
    <div class="song">
        <div class="left-col">
            <img ng-src="{{ctrl.moveData.largePreviewImgUrl}}">
            <a class="buy-btn" ng-href="{{ctrl.moveData.trackViewUrl}}" target="_blank">{{ctrl.moveData.trackPrice}} {{ctrl.moveData.currency}}</a>
            <p ng-show="!!ctrl.moveData.artistName"><strong>Author:</strong> {{ctrl.moveData.artistName}}</p>
            <p ng-show="!!ctrl.moveData.collectionName"><strong>Album:</strong> {{ctrl.moveData.collectionName}}</p>
            <p ng-show="!!ctrl.moveData.contentAdvisoryRating"><strong>Content Advisory Rating:</strong> {{ctrl.moveData.contentAdvisoryRating}}</p>
        </div>
        <div class="song-content">
            <h1 class="content-title">{{ctrl.moveData.trackName}}</h1>
            <p ng-show="!!ctrl.moveData.longDescription"><strong>Description:</strong></p>
            <p ng-show="!!ctrl.moveData.longDescription">
                {{ctrl.moveData.longDescription}}
            </p>
        </div>
    </div>
</div>