<div class="content">
    <h2>
        Top Songs
    </h2>
    <div class="music-previews">
        <div class="item" ng-repeat="item in ctrl.topSongs">
            <div class="title">
                <span class="artist">{{item['im:artist'].label}}</span>
                <span class="name">{{item['im:name'].label}}</span>
            </div>
            <img src="{{item['im:image'][2].label}}">
        </div>
    </div>
    <h2>
        Top Albums
    </h2>
    <div class="music-previews">
        <div class="item" ng-repeat="item in ctrl.topAlbums">
            <div class="title">
                <span class="artist">{{item['im:artist'].label}}</span>
                <span class="name">{{item['im:name'].label}}</span>
            </div>
            <img src="{{item['im:image'][2].label}}">
        </div>
    </div>
</div>