<div class="content">
    <div class="song songColorWrap">
        <div class="left-col">
            <img ng-src="{{ctrl.songData.largePreviewImgUrl}}">
            <a class="buy-btn" ng-href="{{ctrl.songData.trackViewUrl}}" target="_blank">{{ctrl.songData.trackPrice}} {{ctrl.songData.currency}}</a>
            <p>
                <strong>Style:</strong> {{ctrl.songData.primaryGenreName}}<br>
                <strong>Release Date:</strong> {{ctrl.songData.releaseDate}}<br>
                <strong>Country:</strong> {{ctrl.songData.country}}<br>
            </p>
        </div>
        <div class="song-content">
            <h2 class="content-title">{{ctrl.songData.collectionName}}</h2>
            <h3 class="content-subtitle"><span ng-click="ctrl.findAuthor(ctrl.songData.artistName)">{{ctrl.songData.artistName}}</span></h3>
            <media-player src="{{ctrl.songData.previewUrl}}" track-title="{{ctrl.songData.trackName}}"></media-player>
        </div>
    </div>
</div>