<div class="content">
    <h1>{{ctrl.songData.trackName}}</h1>
    <div class="song">
        <img ng-src="{{ctrl.songData.artworkUrl100}}">
        <div class="content">
            <p><strong>Author:</strong> {{ctrl.songData.artistName}}</p>
            <p><strong>Album:</strong> {{ctrl.songData.collectionName}}</p>
            <p><strong>Price:</strong> {{ctrl.songData.trackPrice}} $</p>
        </div>
    </div>

    <!--<div class="song-preview">-->
        <!--<p><strong>Preview:</strong></p>-->
        <!--<audio controls ng-src="{{ctrl.songData.previewUrl}}"></audio>-->
    <!--</div>-->


    <media-player src="521"></media-player>

</div>