.media-player {
  width: 300px;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;
  user-select: none;

  & > * {
    user-select: none;
  }

  .button {
    display: block;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 8px;
    text-align: center;
    width: 30px;
    height: 30px;
    outline: none;
  }

  .label {
    position: absolute;
    display: block;
    bottom: -20px;
    left: 0;
    right: 0;
    font-size: 13px;
    line-height: 1;
    text-align: left;
    color: #fff;
  }

  .control-panel {
    height: 3px;
    border-radius: 2px;
    background: #fff;
    position: relative;
  }

  .control {
    position: absolute;
    width: 12px;
    height: 12px;
    display: block;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    top: - 4px;
    margin-left: -6px;
    border: 1px solid #000;
  }

  .volume {
    width: 62px;
  }

  .track {
    width: 142px;
  }
}