.song {
  @include clearfix;
  margin: 0 0 25px;

  img {
    max-width: 400px;
    margin-bottom: 25px;
  }

  & > .song-content {
    float: right;
    width: calc(100% - 450px);
  }

  .content-title {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    span {
      cursor: pointer;
    }
  }

  .content-subtitle {
    margin: 0 0 40px;
    color: #f82c32;
    text-decoration: underline;
    font-size: 24px;
    font-weight: normal;

    span {
      cursor: pointer;
    }
  }

  .left-col {
    width: 400px;
    float: left;
  }

  .buy-btn {
    display: block;
    background: #f82c32;
    border: none;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;

    &:hover {
      background: #f82c32;
      border: none;
      opacity: .9;
    }
  }

  &.white {
    color: #fff;
  }
}